.navBar {
  padding: .66rem 0;
  background-color: #cca353;
  font-family: Poppins, sans-serif;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.handle a {
  margin-left: .5em;
  font-size: 1.8rem;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.5rem;
  transition: 150ms ease-in-out;
}

.links ul:hover li a {
  opacity: .5;
  filter: blur(5px);
  color: black;
  transition: 150ms ease-in-out;
}

.links ul li a:hover {
  opacity: .8;
  filter: blur(0);
  border-bottom: none;
  border-top: none;
  color: white;
  font-size: 1.3rem;
}

ul li {
  display: inline;
  margin: 0 .5em;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: white;
}
